.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b7b7;
    color: white;
    text-align: center;
}

.navbar {
    background-color: #b7b7b7;
    background-image: none;;
    background-repeat: no-repeat;;
}

.just-user {
    border: 3px solid #7b7c7c;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 60%;
    color: #7b7c7c;
    padding: 12px;
}

.current-user {
    border: 3px solid orangered;
    color: orangered;
    margin: 0 auto 20px;
    width: 60%;
    border-radius: 20px;
    padding: 12px;
}

#last-user{
    margin:0 auto 20px;
}

.notification-fail {
    color: orangered;
}

.form-signin {
    width: 50% !important;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid rgb(191, 222, 255);
}

.form-control {
    width: 80% !important;
    display: inline-block !important;
    margin: 10px;
}

.btn-mar {
    margin-bottom: 20px !important;
}

.bo-wrapper{
    width: 100%;
    text-align: center;
}

.pagination-bo{
    width: 50%;
    margin: 10px auto 50px;
}

.pagination-bo a{
    margin: 0 6px;
}
.welcome-msg{
    color: orangered;
}


